<section class="cross-sell">
	<div class="row">
	{% if cross_sell | length > 0 %}
		<div class="col-12">
			<h3>You May Also Like</h3>
		</div>
		{% for product in cross_sell %}
			<div class="product col-3">
				{%
					set cross_sell_page = mapper.getPageForProduct(product.product.product, {
						(product.option.name): product.option.value
					})
				%}
				{% set image = cross_sell_page.content.gallery.all[0].image ?: product.product.product.image %}
				<a href="{{ cross_sell_page.slug }}">
					{{ getResizedImage(image, 360,455) }}
					<h3>{{ product.product.product.displayName }}</h3>
					<h5>{{ product.option.value }} <span class="price">{{ product.product.product.getPrice | price }}</span></h5>
				</a>
			</div>
		{% endfor %}
	{% endif %}
	</div>
</section>