{% extends 'Mothership:Site::templates:base' %}

{% block title %}{{ 'ms.user.login.title'|trans }} | {{ app.cfg.app.name }}{% endblock %}

{% block content %}
	<main class="content">
		<div class="col-12">
			<h1>{{ 'ms.user.login.title'|trans }}</h1>
		</div>
		<section class="login-register">
			<div class="col-6">
				<h2>{{ app.cfg.app.name }} members</h2>
				{% block form %}
					{{ render(controller('Message:User::Controller:Authentication#login', {
					redirectURL           : refererUrl,
					forgottenPasswordRoute: 'ms.user.password.request'
					})) }}
				{% endblock %}
			</div>
			<div class="col-6">
				<h2>If you're new to the website&hellip;</h2>
				{% block register_link %}
					<p><a href="{{ url('ms.user.register') }}">{{ 'ms.user.login.register-link-text'|trans }}</a></p>
				{% endblock %}
			</div>
		</section>
	</main>
{% endblock %}