{% extends 'Message:Mothership:User::account:account-layout' %}

{% block account_content %}
<div class="col-12 no-gutter">
	<h1>Edit account</h1>
</div>
<div class="col-6 no-gutter-left">
	<section>
		<h4>{{ 'Account Details '}}</h4>

		{{ form_start(detailForm) }}
			{{ form_rest(detailForm) }}
			<button type="submit">Update</button>
		{{ form_end(detailForm) }}
	</section>
</div>
<div class="col-6 no-gutter-right">
	<section>
		<h4>{{ 'Change Password'}}</h4>

		{{ form_start(passwordForm) }}
			{{ form_rest(passwordForm) }}
			<button type="submit">Save Password</button>
		{{ form_end(passwordForm) }}
	</section>
</div>
<div class="row">
	<div class="col-6 no-gutter-left">
		<section>
			<h4>{{ 'Billing Address '}}</h4>

			{{ form_start(billingForm) }}
				{{ form_rest(billingForm) }}
				<button type="submit">Update</button>
			{{ form_end(billingForm) }}
		</section>
	</div>
	<div class="col-6 no-gutter-right">
		<section>
			<h4>{{ 'Delivery Address '}}</h4>

			{{ form_start(deliveryForm) }}
				{{ form_rest(deliveryForm) }}
				<button type="submit">Update</button>
			{{ form_end(deliveryForm) }}
		</section>
	</div>
</div>
{% endblock %}