{% extends 'Message:Mothership:Ecommerce::checkout:checkout-layout' %}

{% block content %}
	<main class="checkout" id="main-content">
		<section class="row">
			<div class="col-12">
				<h1>Checkout</h1>
				<div class="progress">
					<div>
						<p><strong>Stage 01</strong> Your selection</p>
					</div>
					<div class="active">
						<p><strong>Stage 02</strong> Your details</p>
					</div>
					<div>
						<p><strong>Stage 03</strong> Delivery details</p>
					</div>
					<div>
						<p><strong>Stage 04</strong> Payment</p>
					</div>
					<div>
						<p><strong>Stage 05</strong> Confirmation</p>
					</div>
				</div>
			</div>
		</section>
		{{ form_start(form) }}
			<section class="billing registration row" id="billing">
				<div class="col-12">
					<h3>Billing Address</h3>
				</div>
				<div class="col-6">
					{{ form_row(form.billing.title) }}
					{{ form_row(form.billing.forename) }}
					{{ form_row(form.billing.surname) }}
					{{ form_row(form.billing.address_line_1) }}
					{{ form_row(form.billing.address_line_2) }}
					{{ form_row(form.billing.address_line_3) }}
					{{ form_row(form.billing.address_line_4) }}
				</div>
				<div class="col-6">
					{{ form_row(form.billing.town) }}
					{{ form_row(form.billing.postcode) }}
					{{ form_row(form.billing.telephone) }}
					{{ form_row(form.billing.countryID) }}
					{{ form_row(form.billing.stateID, {
						attr: {
							'data-state-filter-country-selector': '#' ~ form.billing.countryID.vars.id
						}
					}) }}
					{{ form_row(form.deliverToDifferent, {
						attr: {
							'data-toggle': 'section.delivery',
							'data-toggle-inverted': 'true'
						}
					}) }}
					{{ form_row(form.save) }}
				</div>
			</section>
			<section class="delivery registration row" id="delivery">
				<div class="col-12">
					<h3>Delivery Address</h3>
				</div>
				<div class="col-6">
					{{ form_row(form.delivery.title) }}
					{{ form_row(form.delivery.forename) }}
					{{ form_row(form.delivery.surname) }}
					{{ form_row(form.delivery.address_line_1) }}
					{{ form_row(form.delivery.address_line_2) }}
					{{ form_row(form.delivery.address_line_3) }}
					{{ form_row(form.delivery.address_line_4) }}
				</div>
				<div class="col-6">
					{{ form_row(form.delivery.town) }}
					{{ form_row(form.delivery.postcode) }}
					{{ form_row(form.delivery.telephone) }}
					{{ form_row(form.delivery.countryID) }}
					{{ form_row(form.delivery.stateID, {
						attr: {
							'data-state-filter-country-selector': '#' ~ form.delivery.countryID.vars.id
						}
					}) }}
				</div>
			</section>
			<nav class="checkout-nav row">
				<div class="col-12">
					<a href="/checkout" class="button cancel">Back to selection</a>
					<button type="submit" class="continue">Continue to delivery</button>
				</div>
			</nav>
		{{ form_end(form) }}
	</main>
{% endblock %}
