{# <section class="carousel">
	<ul>
		{% for slide in page.content.carousel %}
		{% if not slide.link.value.target is empty %}<a href="{{ slide.link }}">{% endif %}
			<li>
				<img src="{{ getResizedUrl(slide.image, 1140, 400) }}">
				<div class="wrap">
					{% if not slide.header.value is empty or not slide.subheader.value is empty %}
					<div class="overlay overlay-{{ slide.overlay_pos }}">
						{% if not slide.header.value is empty %}<h2>{{ slide.header }}</h2>{% endif %}
						{% if not slide.subheader.value is empty %}<p>{{ slide.subheader }}</p>{% endif %}
					</div>
					{% endif %}
				</div>
			</li>
		{% if not slide.link.value.target is empty %}</a>{% endif %}
		{% endfor %}
	</ul>
</section>
 #}
<div class="carouseltest">
	
<section class="carousel" id="carousel1">
	<ul class="slides">
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg" data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li>
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li>
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li>
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li>
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>

	</ul>
	<a href="#" class="arrow left">Left</a>
	<a href="#" class="arrow right">Right</a>
</section>

<hr/>

<section class="carousel" id="carousel2">
	<ul class="slides">
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg" data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>

	</ul>
	<div class="thumbs"></div>
</section>

<hr/>

<section class="carousel" id="carousel3">
	<ul class="slides">
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg" data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg">
			<img src="/resize/files/t-short-sleeve_553x200-491b57.jpg">
		</li>

	</ul>
	<div class="thumbs"></div>
</section>

<section class="carousel" id="carousel4">
	<ul class="slides">
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-zoom="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-zoom="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-zoom="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-zoom="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
		<li data-thumb="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-zoom="/resize/files/t-short-sleeve_553x200-491b57.jpg"
			data-image="/resize/files/t-short-sleeve_553x200-491b57.jpg"></li>
	</ul>
	<div class="thumbs"></div>
</section>
</div>