<section class="product-info">
	{# Product title & varient #}
	<h1>
		{{ product.displayName }}
		{% if content.product.option.value %}
			<span>
				{{ content.product.option.value }}
			</span>
		{% endif %}
	</h1>

	{# Price #}
	<h3>
		{{ product.hasVariablePricing and not content.product.option.value ? 'From ' }}
		{{ product.getPriceFrom | price }}
	</h3>

	{# Product selector#}
	{{
		render(controller('Message:Mothership:Commerce::Controller:Module:ProductSelector#index', {
			product: content.product.product.product,
			options: {
				(content.product.option.name): content.product.option.value
			}
		}))
	}}

	{# Product tabs #}
	{% block tabs %}
		{% include 'Mothership:Site::module:product:tabs' %}
	{% endblock %}	

	{# Social media sharing links #}
	<h3>Share this product</h3>
	{{
	    render(controller('Message:Mothership:CMS::Controller:Module:Social#share', {
	        page: page
	    }))
	}}

</section>